.slide-banner{
    max-width: 200px;
}
.custom-col-md-3{
    flex: 0 0 18.36%;
    max-width: 18.36%;
}
@media screen and (max-width:991px) {
    .custom-col-md-3{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media screen and (min-width:766px) and (max-width:992) {
    .custom-col-md-3{
        flex: 0 0 50%;
        max-width: 50%;
    }
}