.custom-nav-tabs .nav-link{
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 15px;
    color: rgb(52, 52, 52);
}
.custom-nav-tabs .nav-link.active, .custom-nav-tabs .nav-item.show .nav-link{
    color: rgb(238, 90, 90);
    background-color: transparent;
    border-color: transparent;
}
.custom-nav-tabs .nav-link:hover, .custom-nav-tabs .nav-link:focus{
    border-color: transparent;
}
.offer-detail{
    flex: 0 0 50%;
}
.offer-detail a{
    font-size: 16px;
    color: #9891ff;
}
.offer-rating{
    color: rgb(206, 177, 14) !important;
}
.offer-price s{
    color: red;
    font-size: 16px;
}
.offer-price span{
    font-size: 16px;
    color: #565555;
}
.offer-detail .count-down-timer{
    font: 17px;
    color: #565555;
}
.count-down-timer span{
    background-color: #efefef;
    margin: 11px;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 14px;
}
.count-down-timer #demo #day{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.count-down-timer #demo #hours{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.count-down-timer #demo #minutes{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.count-down-timer #demo #seconds{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.offer-expire-text{
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
}
.offer-expire-text .offer-expire-text-inner{
    padding: 10px;
    font-size: 17px;
    color: black !important;
}
#day,#hours,#minutes,#seconds{
    position: relative;
}
#demo #day::after{
    content: 'روز';
    position: absolute;
    top: 42px;
    right: 8px;
}
#demo #hours::after{
    content: 'ساعت';
    position: absolute;
    top: 42px;
    right: 0px;
}
#demo #minutes::after{
    content: 'دقیقه';
    position: absolute;
    top: 42px;
    right: 0px;
}
#demo #seconds::after{
    content: 'ثانیه';
    position: absolute;
    top: 42px;
    right: 0px;
}
.offer-product-image{
    overflow: hidden;
    height: 240px;
}
.offer-product-image img{
    width: 240px;
}
.offer-product-image:hover img.first-img,.offer-product-image:hover img.second-img {
    transform: translateY(-240px);
}
.offer-product-image .first-img,.offer-product-image .second-img{
    transition: all 0.5s ease;
}
.s-o-box-shadow{
    box-shadow: 0 0 1px 1px #efefef;
    z-index: 1;
}
.offer-section-title{
    margin-left: 15px;
    border-bottom: 2px solid red;
    right: 300px;
    padding-bottom: 4px;
    font-size: 22px;
    top: 1px
}
@media screen and (max-width:767px){
    .offer-section-title{
        font-size: 16px;
        margin-left: 5px;
    }
    .ct-nav-sp{
        padding: 15px 12px;
    }
}